.git
.gitignore
.next
node_modules
**/node_modules
**/.next
**/.next/**
backend/.next
frontend/.next
backend/.DS_Store
frontend/.DS_Store
**/*.tsbuildinfo
**/coverage
**/.turbo
**/.cache
*.log
.env
.env.*
!.env.example
docker/.env.prod
README.md
.cursor
go-staff-main-1
